body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #000;
}

#navbar {
    background-color: #6F4F37; /* Light brown */
    text-align: center;
    padding: 10px 0;
}

#navbar ul {
    list-style: none;
    padding: 0;
}

#navbar li {
    display: inline;
    margin: 0 15px;
}

#navbar a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
}

#navbar a:hover {
    color: #E2CEB1; /* Dun Cream */
}

#header {
    background-color: #E2CEB1; /* Dun Cream */
    width: 100%;
    padding: 50px 0;
    text-align: center;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.profile-info {
    text-align: left;
}

#header h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 3rem;
    color: #6F4F37; /* Light brown */
}

#header p {
    font-size: 1.25rem;
    color: #6F4F37;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h2, h3 {
    font-size: 2rem;
    font-weight: bold;
    color: #6F4F37;
    margin-bottom: 5px;
}

h2 + hr, h3 + hr {
    border: 0;
    height: 2px;
    background-color: #6F4F37;
    margin-top: 0;
}

.sub-title {
    font-size: 1rem; /* Same size as the body text */
    font-weight: bold;
    color: black; /* Black color for project titles */
    margin: 10px 0;
}

.entry {
    margin-bottom: 20px;
}

ul {
    list-style-type: square;
    margin-left: 20px;
}

footer {
    background-color: #6F4F37; /* Light brown */
    color: white;
    text-align: center;
    padding: 15px 0;
}

footer p {
    font-size: 1rem;
}
